{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<p>{{ date |date("d/m/Y") }}</p>

{% for product in products %}
<h2>{{ product.name }}</h2>
<p>{{ product.price }}</p>
<p>Catégorie : {{ product.categoryId.name }}</p> <!-- Ajout de cette ligne -->
<a class="btn btn-info" href="{{ path('app_product_detail', {slug: product.slug}) }}">Voir les détails</a>
{% endfor %}
{% endblock %}